.container {
	position: absolute;
	width: 1303px;
	height: 56px;
	left: 67px;
	top: 49px;
}

.judul {
	position: absolute;
	width: 115px;
	height: 54px;
	left: 67px;
	top: 50px;

	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 54px;
	/* identical to box height */

	/* Orange cekla */

	color: #ffc100;
}

.nav-link-light {
	/* login */

	position: absolute;
	width: 58px;
	height: 24px;
	left: 1087px;
	top: 65px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	/* identical to box height, or 100% */

	letter-spacing: -0.011em;

	/* Orange cekla */

	color: #ffc100;
}

.nav-link-dark {
	position: absolute;
	width: 173px;
	height: 56px;
	left: 1197px;
	top: 49px;

	/* Orange cekla */

	background: #ffc100;
	border-radius: 20px;
	justify-content: center;
	text-align: center;
	padding-top: 10px;
	color: white;
	font-size: 20px;
}

.brow {
	margin-top: -65px;
}

.margin {
	position: absolute;
	width: 820.33px;
	height: 405.33px;
	left: 310px;
	top: 250px;
	margin-left: 250px;
	margin-top: -60px;

	/* Orange cekla */
}

.manto {
	color: #ffc100;
	font-size: 64px;
	font-weight: bold;
}

.create {
	margin-left: 90px;
	font-size: 20px;
}

.place {
	width: 600px;
	height: 50px;
	background: #eeeded;
	border-radius: 10px;
	margin-left: -65px;
	text-align: center;
	border-bottom-color: white;
	border-top-color: white;
	border-right-color: white;
	border-left-color: white;
}

.short {
	position: absolute;
	width: 180px;
	height: 50px;
	margin-left: 550px;

	background: linear-gradient(95.62deg, #ffc100 4.61%, #ff9a00 95.89%);
	border-radius: 10px;
}

.custome {
	position: absolute;
	width: 367px;
	height: 325px;
	margin-top: 765px;
	font-size: 18px;
}

.pertemuan {
	position: absolute;
	width: 367px;
	height: 109px;
	left: 536px;
	margin-top: 750px;
}

.buku {
	position: absolute;
	width: 367px;
	height: 109px;
	left: 1103px;
	margin-top: 750px;
}

.paseo {
	text-align: center;
	font-size: 17px;
}

.style {
	font-size: 23px;
	text-align: center;
	color: #ffc100;
}

.tangan {
	margin-top: 45px;
	margin-left: 67px;
	font-size: 40px;
	color: #ffffff;
}

.kaki {
	position: absolute;
	width: 100%;
	height: 200px;
	margin-top: 1000px;
	margin-left: -10px;

	background: linear-gradient(180deg, #ffc100 0%, #ff9a00 100%);
}

.jari {
	margin-left: 200px;
	margin-top: -50px;
	color: #ffffff;
}

.badan {
	margin-left: 600px;
	margin-top: -60px;
	color: #ffffff;
}

.kami {
	margin-left: 900px;
	margin-top: -60px;
	color: #ffffff;
}

.telinga {
	font-size: 25px;
}

.mulut {
	font-size: 15px;
	margin-left: 50px;
}

.xyz {
	color: #ffc100;
	text-align: center;
	margin-top: -50px;
}

.yzx {
	color: #ffc100;
	text-align: center;
	margin-top: -50px;
}

.bca {
	color: #ffc100;
	text-align: center;
	margin-top: -50px;
}

.kuping {
	margin-top: -100px;
	font-size: 25px;
}

.hijau {
	font-size: 25px;
	margin-left: 50px;
}

.kuning {
	font-size: 15px;
}

.merah {
	font-size: 15px;
}

.monas {
	margin-left: -600px;
	width: 50px;
	height: 24px;
}
